<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" xmlns="http://www.w3.org/1999/html">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <!--ckeditor -->
    <script src="//cdn.ckeditor.com/4.19.0/standard/ckeditor.js"></script>

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.13.5/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.13.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.13.5/dist/js/uikit-icons.min.js"></script>
    <script src="uikit/dist/js/uikit-icons.min.js"></script>


    <meta charset="UTF-8">
    <link th:href="@{/css/posting-questions.css}" rel="stylesheet" />

    <title>RedPanda</title>
    <div th:replace="/fragments/common_header.html :: common_header"></div>

</head>
<body>


<div class="p_content_container">
    <div class="p_content_inner">
        <div class="p_content">

            <ul class="uk-breadcrumb">
                <li><a href="#">Main</a></li>
                <li><a href="#">Update a post </a></li>
            </ul>

            <div id="cap">Update a post</div>

            <form th:action="@{/thread/update-post}" method="post">

                <lable for="tag">Tag</lable>

                    <select name="tag" id="tag">
                        <option value="General Question">General Question</option>
                        <option value="Grammar">Grammar</option>
                        <option value="Vocabulary">Vocabulary</option>
                        <option value="Culture">Culture</option>
                    </select>


                <div>
                    <input  class="p_title uk-input" th:field="${post.bno}"  id="bno"  type="hidden" name="bno" >
                    <input  class="p_title uk-input" th:field="${post.title}"  id="title"  type="text" name="title" >

                </div>

                <!--th:utext="${post.content}" -->
                <textarea name="content" id="content" rows="10" cols="80">
                [[${post.content}]]
                </textarea>

                <div>
                    <input class="uk-input" type="hidden" name="writerEmail"  th:field="${post.writerEmail}">
                </div>

                <input  class="uk-input" type="hidden" name="writerName" placeholder="name" th:field="${post.writerName}" >
                <input  class="uk-input" type="hidden" name="imgUrl" >

                <button type="submit"  class="uk-button uk-button-default c_update">Update </button>
            </form>

            <button th:onclick="savee()" type="button">click</button>

        </div>
    </div>

</div>

<script>
    CKEDITOR.replace( 'content' );

    $(document).ready(function() {
    });
</script>


</body>
</html>