@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    background-color: #F5F5F5;
    line-height: 1.4;
    height: max-content !important;
}

.head{
    background-color: darkred;

}

.head_inner{
    max-width: 1152px;
    margin: 0 auto;
    padding: 0 16px;
}
.inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
   /** height: 70px;**/
}
.logo{
    font-family: 'Raleway', sans-serif;

    font-weight: 900;
    font-size: 2.5rem;
    font-style:italic;
    color: white;
}

#logopadna{
    color: white;
}
#logopadna:hover{
    color: white;
    text-decoration: none;
}
.search_bar{
    background-color: white !important;
    color:black !important;
}

.head_operations{
    color: white;
}

.uk-fieldset{
    margin-top:9rem !important;
}

.searchbar_for_sm{
    display: none;
    width: 100%;
    margin: 0px;
}

/**
p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break:break-all;
    display: block;
    text-align: left;
    height: 50px;
    width: 80%;
    width: 80%;2

}
**/

.q_content p:not(:first-of-type){
    display: none;
}
.q_content p:first-of-type{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break:break-all;
    display: block;
    text-align: left;
    width: 80%;
}

.content-question p{
    word-break: break-word;
    line-height: 1.9rem;
}

.content{
    max-width: 925px;
    margin: 2rem auto;
    padding-top: 2rem;
    padding-right: 37px;
    padding-left: 37px;
    background-color: white;
}

.content_item{
    border-bottom: 1px solid #d8d8d8;
    padding-top: 1.3rem;
    padding-bottom: 1rem;
    padding-left: 15px;
}

.search_keyword{
    font-size: 1.7rem;
    color: black;
    margin-bottom: 2rem;
    font-weight: 500;
    display: none;
}
.search_keyword a :hover{
    color: black;
    text-decoration-line: none;

}
.searchbar .head{
    flex-grow: 1;
    padding: 0 1rem;
}

.searchbar{
    flex-basis: 250px;
    flex-grow: 1;
    margin-left: 2rem;
    margin-right: 2rem;
}
.content_title{
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    padding-top: 1rem;
}

.content_container{
    display: block;
    display: flex;
    max-width: 1211px;
    margin: 0px auto;
    height: max-content;

}

.footer_ul{
    display: flex;
    justify-content: space-evenly;
}

.footer{
    color: black;
    width: 1150px;
    margin: 0 auto;
    padding: 2rem 0;
    background-color: #F5F5F5;
}

.side_menu{
    background-color: white;
    width: 229px;
    margin-right: 20px;
    margin-top: 2rem;
    padding: 20px;
    height: max-content;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.side_menu a{
    color: black;
    line-height: 1.5rem;

}
.side_menu a:hover{
    text-decoration: none;

}

.side_menu_2{
    font-family: 'Bebas Neue', cursive;
    background-color: red;
    width: 229px;
    margin-right: 20px;
    margin-top: 2rem;
    height: 800px;
    background: linear-gradient(
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)
    ), url("side_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: whitesmoke;
    font-size: 30px;
    text-align: center;

}

#side_menu_text{
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 auto;

}

.tag_button button{
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.page_list a{
    display: inline-block;
}

.uk-button{
    color: white;
    font-weight: 600;
}
.uk-button:hover{
    transition: 0.5s ease-in ;
     color: whitesmoke;

}
.signin{
    border-style: none;
}
.head_operations_icon a{
    display: none;
    color: white;

}
#usericon{
    padding-right: 5px;
}

.uk-label{
    font-size: 10px;
}
.uk-navbar{
    background: none !important;
}

.uk-navbar-toggle-icon{
    min-height: 10px;
}

li{
    list-style: none;
}

.k_thread_card{
    border: 1px solid #e5e5e5;
}
. k_thread_card_btn .uk-button{
    color: black !important;
}

.logout{
    margin-right: 10px;
}

.uk-offcanvas-bar ul{
    padding-left:5px;
    line-height: 3rem;
}
.uk-offcanvas-bar ul li a{
    padding-right: 5px;
    line-height: 1.2rem;
}

.uk-offcanvas-bar{
    opacity: 0.9;
}

.k_reply_count{
    padding-top: 8px;
    padding-top: 8px;
}


.k_q_title{
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    padding-top: 1rem;
}


.k_q_title:hover{
    color: black;
    text-decoration-line: none;

}
.k_posted_by{
    font-size: 12px;
}
.k_q_title_upper{
    display: flex;
    align-items: center;
padding-bottom: 10px;
padding-top: 5px;
}


.uk-label a{
    color: white;

}
.uk-label a:hover{
    text-decoration: none;
}

.uk-label{
    margin-left: 10px !important;
}

.side_menu_2 a{
    color: white;
}
.side_menu_2 a:hover{
    color: white;
    text-decoration: none;
}

.searchKeyword{
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 20px;
    margin-bottom: 2rem;
}

.search_inner{
    width: 78%;
}

.mailbox_inner{
    width: 100%;
    display: flex;
}
.mailbox_content{
    height: 900px;
    width: 100%;
    margin: 2rem auto;
    padding-top: 2rem;
    padding-right: 37px;
    padding-left: 37px;
    background-color: white;
}

@media screen and (max-width: 576px){
    .searchbar{
        display: none;
    }
    .side{
        display: none;
    }


}

@media only screen and (max-width: 576px){
    .searchbar_for_sm{
        display: block;

    }
    .side{
        display: none;
    }
}
@media only screen and (max-width: 796px){
    .head_operations{
        display: none;

    }
    .head_operations_icon a{
        display: inline;

    }
    .side{
        display: none;
    }
}


