body{
    height: 100vh;
}

.message_section{
    width: 900px;
    margin: 0 auto;
    height: 450px ;
    background-color: white;
    padding-top: 30px;
    overflow: scroll;
    border: 1px solid darkred;
    border-bottom: 0;


}

.message_display{

}

#C_heading{
    margin: 0 auto;
    margin-top: 2rem !important;
    font-size: 1.6rem;
    width: 900px;
    background-color: darkred;
    color: white;
    padding: 20px;
}

.sedningMessageInput {
    display: flex;
    flex-direction: row;
    width: 900px;
    margin: 0px auto;
    border: 1px solid darkred;
    border-top: 0;

}

#sendBtn{
    width: 81px;
    margin: 0 auto;
    padding: 20px;
    background-color: #3D3D3D;
}


#contentValue{
    width: 900px;
    height: 150px;
    border-style: none;
    border-radius: 10px ;

    outline: none;
    border: none;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

#contentValue:checked{
    border-style: none;
}


.messageB{
    margin-left: 25px;
}

.messageBar{
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: #C0392B 1px solid;

    margin-bottom: 10px;


    /**추가**/
    width: max-content;
    text-overflow: ellipsis;


}
.messageContent{
    font-size: 15px !important;
}


#time{
    margin-left: 10px;
}