<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.13.5/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.13.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.13.5/dist/js/uikit-icons.min.js"></script>
    <script src="uikit/dist/js/uikit-icons.min.js"></script>

    <meta charset="UTF-8">
    <link th:href="@{/css/korean_thread.css}" rel="stylesheet" />

    <title>RedPanda</title>
</head>
<body>
<div th:replace="/fragments/common_header.html :: common_header"></div>


<div class="content_container">
            <div class="content_inner mailbox_inner">
                <div th:replace="/fragments/common_sidebar.html :: common_sidebar"></div>

                <div class="mailbox_content">



                    <ul class="uk-breadcrumb">
                        <li><a href="#">Main</a></li>
                        <li><a href="#">Inbox</a></li>
                    </ul>


                    <div class="mailbox-container" style="background-color: white; margin-top: 3rem; ">
                        <div><h1>Inbox</h1></div>
                        <div class="mailingList" style="border: 1px solid darkred; padding: 20px; " th:each="r : ${receiverInfo}">
                            <div id="messagePage" style="font-size: 17px;" >[[${r}]] </div>


                        </div>

                    </div>



                </div>
            </div>



        </div>
    <form class="actionForm" method="POST" action="/thread/sendingMessages">
        <input type="hidden" id="sender" name="nickname" value="">
    </form>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <script>

            $(document).ready(function (){

                var actionForm = $(".actionForm");
                var email = $("#messagePage");

                $('#messagePage').click(function (){

                    var messageV = $(this).text().replace(/ /g,'');
                    console.log(messageV);
                    $("#sender").val(messageV);

                  actionForm.submit();
                })


            })




        </script>

</body>
<div th:replace="/fragments/common_footer.html :: common_footer"></div>

</html>