<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.13.5/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.13.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.13.5/dist/js/uikit-icons.min.js"></script>
    <script src="uikit/dist/js/uikit-icons.min.js"></script>



    <!--summer note -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

    <meta charset="UTF-8">
    <link th:href="@{/css/posting-questions.css}" rel="stylesheet" />

    <title>Post</title>
    <div th:replace="/fragments/common_header.html :: common_header"></div>

</head>
<body>


<div class="p_content_container">
            <div class="p_content_inner">
                <div class="p_content">

                    <ul class="uk-breadcrumb">
                        <li><a href="#">Main</a></li>
                        <li><a href="#">Post</a></li>
                    </ul>

                    <div id="cap">Create a post</div>

                    <form th:action="@{/thread/post}" method="post">
                        <lable for="tag">Tag</lable>
                        <div uk-form-custom="target: > * > span:last-child">
                            <select name="tag" id="tag">
                                <option value="General Question">General Question</option>
                                <option value="Grammar">Grammar</option>
                                <option value="Vocabulary">Vocabulary</option>
                                <option value="Culture">Culture</option>
                            </select>
                            <span class="uk-link">
                            <span uk-icon="icon: pencil"></span>
                        </span>
                        </div>
                       <div>
                        <input class="p_title uk-input" type="text" name="title" placeholder="title">
                       </div>


                           <!-- <div id="summernote"></div> -->
                        <textarea id="summernote" name="content"></textarea>
                            <script>
                                $('#summernote').summernote({
                                    placeholder: 'Type here ',
                                    tabsize: 2,
                                    height: 200,
                                    toolbar: [
                                        ['style', ['style']],
                                        ['font', ['bold', 'underline', 'clear']],
                                        ['color', ['color']],
                                        ['para', ['ul', 'ol', 'paragraph']],
                                        ['table', ['table']],
                                        ['insert', ['link', 'picture', 'video']],
                                        ['view', ['fullscreen', 'codeview', 'help']]
                                    ]
                                });
                            </script>

                        <!--
                            <input class="uk-input" type="hidden" name="writerEmail" placeholder="email" value="">
                        <input  class="uk-input" type="hidden" name="writerName" placeholder="name" value="">
                        -->

                        <input  class="uk-input" type="text" name="imgUrl" >

                        <button type="submit" class="uk-button uk-button-default posting_btn">SUBMIT</button>

                    </form>


                </div>
            </div>

</div>
</body>
</html>